<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/dt0ig5ab';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

<% active= {"get-started"=>:inactive, "graph-platform"=>:inactive, "cypher"=>:inactive, "data-modeling"=>:inactive,"data-import"=>:inactive,"graph-visualization"=>:inactive,"language-guides"=>:inactive,
"ecosystem"=>:inactive,"in-production"=>:inactive}
active[(@document.attr "section-link", "get-started")]=:active;
%>
<%=  File.new("_templates/style_partial.erb").read %>
<div class="content-wrapper">
  <div class="dev-menu-nav">
    <%= File.new("_templates/menu_partial.erb").read.gsub(/[\w-]+-activate/) { |m| active[m.gsub(/-activate/,"")].to_s } %>
  </div>
  <div class="guide-section-content">
    <%= content %>
  </div>
  <div class="guide-toc">
    <ul class="side-nav">
      <dl class="accordion">
        <dd class="accordion-navigation active">
          <h5>Getting Started</h5>
          <div class="toc content active">
            <ul>
              <li>Your First Steps</li>
              <li>Developer Guide Overview</li>
              <li>What is a Graph Database?</li>
              <li>What is the Neo4j Graph Platform?</li>
              <li>Graph Data Modeling</li>
              <li>Cypher Query Language</li>
              <li>Data Import</li>
              <li>Graph Visualization</li>
              <li>Blah</li>
            </ul>
          </div>
        </dd>
      </dl>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>

<script>
$(document).ready( function() { 
  window.Intercom("boot", {
    app_id: "dt0ig5ab",
    hide_default_launcher: true
  });

 var userInfo = Cookies.getJSON("com.neo4j.accounts.userInfo");
 if (typeof userInfo !== 'undefined') {
   var expiresAt = userInfo.exp;
   var currentTime = Math.ceil((new Date()).getTime() / 1000);
   if (expiresAt > currentTime) {
     window.Intercom("update", {
       app_id: "dt0ig5ab",
       name: userInfo.name,
       email: userInfo.email,
       user_id: userInfo.sub
     });
   }
 }
});
</script>
