<div class="large-3 columns" id="dev-menu-nav">
   <ul style="padding-top: 0;" class="side-nav">
      <ul>
         <dl class="accordion">
            <dd class="accordion-navigation active">
               <a href="/developer/get-started">
                  <h5>Get Started</h5>
               </a>
               <div class="content active" id="panel1">
                  <ul>
                     <li><a href="/developer/graph-database">What is a GraphDB?</a></li>
                     <li><a href="/developer/graph-db-vs-rdbms">GraphDB vs RDBMS</a></li>
                     <li><a href="/developer/graph-db-vs-nosql">GraphDB vs NOSQL</a></li>
                     <li><a href="/developer/language-guides">Language Drivers</a></li>
                  </ul>
               </div>
            </dd>
         </dl>
         <ul>
            <dl class="accordion">
               <dd class="accordion-navigation active">
                  <a href="/developer/cypher">
                     <h5>Cypher</h5>
                  </a>
                  <div class="content active" id="panel2">
                     <ul>
                        <li><a href="/developer/guide-cypher-basics">Cypher Basics</a></li>
                        <li><a href="/developer/guide-build-a-recommendation-engine">Build a Recommendation Engine</a></li>
                        <li><a href="/docs/stable/refcard" >Cypher Refcard</a></li>
                     </ul>
                  </div>
               </dd>
            </dl>
            <dl class="accordion">
               <dd class="accordion-navigation active">
                  <a href="/developer/data-modeling">
                     <h5>Data Modeling</h5>
                  </a>
                  <div class="content active" id="panel5">
                     <ul>
                        <li><a href="/developer/guide-data-modeling">Graph Data Modeling Guidelines</a></li>
                     </ul>
                  </div>
               </dd>
            </dl>
            <dl class="accordion">
               <dd class="accordion-navigation active">
                  <a href="/developer/working-with-data">
                     <h5>Working with Data</h5>
                  </a>
                  <div class="content active" id="panel3">
                     <ul>
                        <li><a href="/developer/guide-neo4j-browser">Neo4j Browser Visualization</a></li>
                        <li><a href="/developer/guide-importing-data-and-etl">Importing Data into Neo4j</a></li>
                        <li><a href="/developer/guide-data-visualization">Graph Visualization for Neo4j</a></li>
                     </ul>
                  </div>
               </dd>
            </dl>
            <dl class="accordion">
               <dd class="accordion-navigation active">
                  <a href="/developer/language-guides">
                     <h5>Language Guides</h5>
                  </a>
                  <div class="content active" id="panel4">
                     <ul>
                        <li><a href="/developer/java">Java</a></li>
                        <li><a href="/developer/dotnet">.NET</a></li>
                        <li><a href="/developer/javascript">JavaScript</a></li>
                        <li><a href="/developer/python">Python</a></li>
                        <li><a href="/developer/ruby">Ruby</a></li>
                        <li><a href="/developer/php">PHP</a></li>
                        <li><a href="/developer/language-guides">All Neo4j Drivers</a></li>
                     </ul>
                  </div>
               </dd>
            </dl>
            <dl class="accordion">
               <dd class="accordion-navigation active">
                  <a href="/developer/ecosystem">
                     <h5>Ecosystem</h5>
                  </a>
                  <div class="content active" id="panel6">
                     <ul>
                        <li><a href="/docs/stable">Documentation</a></li>
                        <li><a href="http://stackoverflow.com/questions/tagged/neo4j">Ask Questions / Stackoverflow </a></li>
                     </ul>
                  </div>
               </dd>
            </dl>
            <dl class="accordion">
               <dd class="accordion-navigation active">
                  <a href="/developer/in-production">
                     <h5>Neo4j In Production</h5>
                  </a>
                  <div class="content active" id="panel7">
                     <ul>
                        <li><a href="/developer/guide-sizing-and-hardware-calculator">Sizing + Hardware Calculator</a></li>
                        <li><a href="/developer/guide-performance-tuning">Performance Tuning</a></li>
                        <li><a href="/developer/guide-clustering-neo4j">Clustering Neo4j </a></li>
                     </ul>
                  </div>
               </dd>
            </dl>
         </ul>
         <div class="accordion-navigation">
            <h5>Reference &amp; Manuals</h5>
            <ul>
               <ul>
                  <li><a href="/docs/stable">Neo4j 2.1.x</a></li>
                  <li><a href="/docs/2.0.4">Neo4j 2.0.x</a></li>
               </ul>
            </ul>
            <ul>
               <ul>
                  <li><a href="/docs/1.9.9">Neo4j 1.9.x</a></li>
               </ul>
            </ul>
         </div>
      </ul>
   </ul>
</div>
