<div class="large-3 large-pull-9 columns">
    <ul class="side-nav" style="padding-top: 0;">
        <ul>
            <dl class="accordion">
                <dd class="accordion-navigation inactive">
                    <a href="/developer/get-started">
                        <h5>Get Started</h5>
                    </a>
                    <div id="panel1" class="content inactive">
                        <ul>
                            <li><a href="developer/what-is-a-graph-database">What is a GraphDB?</a></li>
                            <li><a href="developer/graph-databases-versus-relational-databases">GraphDB vs RDBMS</a></li>
                            <li><a href="developer/graph-database-vs-other-nosql-databases/">GraphDB vs NOSQL</a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <ul>
                <dl class="accordion">
                    <dd class="accordion-navigation active">
                        <a href="/developer/cypher">
                            <h5>Cypher</h5>
                        </a>
                        <div id="panel2" class="content active">
                            <ul>
                                <li><a href="developer/cypher-query-language">Cypher Query Language</a></li>
                                <li><a href="developer/building-a-recommendation-engine-with-cypher-in-two-minutes">Build a Recommendation Engine</a></li>
                                <li><a target="_blank" href="http://docs.neo4j.org/refcard/2.1.5">Cypher Refcard</a></li>
                            </ul>
                        </div>
                    </dd>
                </dl>
                <dl class="accordion">
                    <dd class="accordion-navigation inactive">
                        <a href="../data-modeling">
                            <h5>Data Modeling</h5>
                        </a>
                        <div id="panel5" class="content inactive">
                            <ul>
                                <li><a href="developer/graph-data-modeling-guidelines/">Graph Data Modeling Guidelines</a></li>
                            </ul>
                        </div>
                    </dd>
                </dl>
                <dl class="accordion">
                    <dd class="accordion-navigation inactive">
                        <a href="developer/working-with-data">
                            <h5>Working with Data</h5>
                        </a>
                        <div id="panel3" class="content inactive">
                            <ul>
                                <li><a href="developer/styling-graph-visualizations-neo4j-browser/">Neo4j Browser Visualization</a></li>
                                <li><a href="developer/importing-data-into-neo4j/">Importing Data into Neo4j</a></li>
                                <li><a href="developer/graph-visualization-for-neo4j/">Graph Visualization for Neo4j</a></li>
                            </ul>
                        </div>
                    </dd>
                </dl>
                <dl class="accordion">
                    <dd class="accordion-navigation inactive">
                        <a href="../language-guides">
                            <h5>Language Guides</h5>
                        </a>
                        <div id="panel4" class="content inactive">
                            <ul>
                                <li><a href="developer/neo4j-java-examples">Java</a></li>
                                <li><a href="/contrib">All Neo4j Drivers</a></li>
                            </ul>
                        </div>
                    </dd>
                </dl>
                <dl class="accordion">
                    <dd class="accordion-navigation inactive">
                        <a href="../ecosystem">
                            <h5>Ecosystem</h5>
                        </a>
                        <div id="panel6" class="content inactive">
                            <ul>
                                <li><a href="http://docs.neo4j.org/chunked/stable">Documentation</a></li>
                                <li><a href="http://stackoverflow.com/questions/tagged/neo4j">Ask Questions / Stackoverflow </a></li>
                            </ul>
                        </div>
                    </dd>
                </dl>
                <dl class="accordion">
                    <dd class="accordion-navigation inactive">
                        <a href="/developer/in-production">
                            <h5>Neo4j In Production</h5>
                        </a>
                        <div id="panel7" class="content inactive">
                            <ul>
                                <li><a href="developer/sizing-hardware-calculator">Sizing + Hardware Calculator</a></li>
                                <li><a href="developer/neo4j-performance-tuning">Performance Tuning</a></li>
                                <li><a href="developer/how-to-set-up-a-neo4j-cluster">Clustering Neo4j </a></li>
                            </ul>
                        </div>
                    </dd>
                </dl>
            </ul>
            <div class="accordion-navigation">
                <h5>Reference &amp; Manuals</h5>
                <ul>
                    <ul>
                        <li><a target="_blank" href="http://docs.neo4j.org/chunked/stable">Neo4j 2.1.x</a></li>
                        <li><a target="_blank" href="http://docs.neo4j.org/chunked/2.0.4">Neo4j 2.0.x</a></li>
                    </ul>
                </ul>
                <ul>
                    <ul>
                        <li><a target="_blank" href="http://docs.neo4j.org/chunked/1.9.8">Neo4j 1.9.x</a></li>
                    </ul>
                </ul>
            </div>
        </ul>
    </ul>
</div>
