[submodule "language-guides/python/py2neo-2.0"]
	path = language-guides/python/py2neo-2.0
	url = git@github.com:neo4j-examples/movies-python-py2neo-2.0.git
[submodule "language-guides/python/neo4jrestclient"]
	path = language-guides/python/neo4jrestclient
	url = git@github.com:neo4j-examples/movies-python-neo4jrestclient.git
[submodule "language-guides/java/jdbc"]
	path = language-guides/java/jdbc
	url = git@github.com:neo4j-examples/movies-java-jdbc.git
