deploy/
.DS_Store
*.class
target
*.iml
*.ipr
.idea
*.jar
*.war
*.ear
hs_err_pid*
*.py[co]
*.swp

node_modules/

*/**/cypher-app/*


#For clojure
examples/clojure/neocons/target
examples/clojure/neocons/lib
examples/clojure/neocons/classes
examples/clojure/neocons/checkouts
examples/clojure/neocons/pom.xml
examples/clojure/neocons/pom.xml.asc
examples/clojure/neocons/*.jar
examples/clojure/neocons/*.class
examples/clojure/neocons/.lein-*
examples/clojure/neocons/.nrepl-port

# For neo4jphp
examples/php/neo4jphp/vendor
examples/php/neo4jphp/composer.lock
examples/php/neo4jphp/composer.phar

# For Perl (well, really for Emacs)
*~
examples/perl/neo4p/log/*
examples/perl/neo4p/_build
