[submodule "language-guides/python/py2neo-2.0"]
	path = language-guides/python/py2neo-2.0
	url = git@github.com:neo4j-examples/movies-python-py2neo-2.0.git
[submodule "language-guides/python/neo4jrestclient"]
	path = language-guides/python/neo4jrestclient
	url = git@github.com:neo4j-examples/movies-python-neo4jrestclient.git
[submodule "language-guides/java/jdbc"]
	path = language-guides/java/jdbc
	url = git@github.com:neo4j-examples/movies-java-jdbc.git
[submodule "language-guides/java/server-extension"]
	path = language-guides/java/server-extension
	url = git@github.com:neo4j-examples/movies-java-server-extension.git
[submodule "language-guides/java/spring-boot-jdbc"]
	path = language-guides/java/spring-boot-jdbc
	url = git@github.com:neo4j-examples/movies-java-spring-boot-jdbc.git
[submodule "language-guides/java/spring-data-neo4j"]
	path = language-guides/java/spring-data-neo4j
	url = git@github.com:neo4j-examples/movies-java-spring-data-neo4j.git
[submodule "language-guides/python/py2neo-1.6"]
	path = language-guides/python/py2neo-1.6
	url = git@github.com:neo4j-examples/movies-python-py2neo-1.6.git
[submodule "language-guides/clojure/neocons"]
	path = language-guides/clojure/neocons
	url = git@github.com:neo4j-examples/movies-clojure-neocons.git
[submodule "language-guides/go/cq"]
	path = language-guides/go/cq
	url = git@github.com:neo4j-examples/movies-go-cq.git
[submodule "language-guides/perl/neo4p"]
	path = language-guides/perl/neo4p
	url = git@github.com:neo4j-examples/movies-perl-neo4p.git
[submodule "language-guides/php/neo4jphp"]
	path = language-guides/php/neo4jphp
	url = git@github.com:neo4j-examples/movies-php-neo4jphp.git
[submodule "language-guides/php/neoclient"]
	path = language-guides/php/neoclient
	url = git@github.com:neo4j-examples/movies-php-neoclient.git
[submodule "language-guides/ruby/neo4jrb"]
	path = language-guides/ruby/neo4jrb
	url = git@github.com:neo4j-examples/movies-ruby-neo4jrb.git
[submodule "language-guides/ruby/neo4j-core"]
	path = language-guides/ruby/neo4j-core
	url = git@github.com:neo4j-examples/movies-ruby-neo4j-core.git
[submodule "language-guides/javascript/node-neo4j"]
	path = language-guides/javascript/node-neo4j
	url = git@github.com:neo4j-examples/movies-javascript-node-neo4j.git
[submodule "language-guides/dotnet/neo4jclient"]
	path = language-guides/dotnet/neo4jclient
	url = git@github.com:neo4j-examples/movies-dotnet-neo4jclient.git
