# Build results

[Ll]ogs/
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

deploy/
.DS_Store
*.class
target
*.iml
*.ipr
.idea
*.jar
*.war
*.ear
hs_err_pid*
*.py[co]
*.swp
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

node_modules/

*/**/cypher-app/*


#For clojure
language-guides/clojure/neocons/target
language-guides/clojure/neocons/lib
language-guides/clojure/neocons/classes
language-guides/clojure/neocons/checkouts
language-guides/clojure/neocons/pom.xml
language-guides/clojure/neocons/pom.xml.asc
language-guides/clojure/neocons/*.jar
language-guides/clojure/neocons/*.class
language-guides/clojure/neocons/.lein-*
language-guides/clojure/neocons/.nrepl-port

# For neo4jphp
language-guides/php/neo4jphp/vendor
language-guides/php/neo4jphp/composer.lock
language-guides/php/neo4jphp/composer.phar

# For Perl (well, really for Emacs)
*~
language-guides/perl/neo4p/log/*
language-guides/perl/neo4p/_build

#For DotNet
language-guides/dotnet/Neo4jDotNetDemo/Properties/PublishProfiles/neo4jmoviedemo.pubxml
language-guides/dotnet/Neo4jDotNetDemo/Properties/PublishProfiles/neo4jmoviedemo.pubxml.user
language-guides/dotnet/neo4jclient/Neo4jDotNetDemo.userprefs
language-guides/dotnet/neo4jclient/packages/
