<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" href="http://neo4j.com/wp-content/themes/neo4jweb/favicon.ico"/>
  <title>Developer: Get started - Neo4j Graph Database</title>
  <meta name="description"
        content="This is where you’ll find step-by-step Neo4j tutorials and developer guides that cover all areas of the development life-cycle to help you get started."/>
  <link rel="canonical" href="http://neo4j.com/developer/get-started/"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Developer: Get started - Neo4j Graph Database"/>
  <meta property="og:description"
        content="This is where you’ll find step-by-step Neo4j tutorials and developer guides that cover all areas of the development life-cycle to help you get started."/>
  <meta property="og:url" content="http://neo4j.com/developer/get-started/"/>
  <meta property="og:site_name" content="Neo4j Graph Database"/>
  <meta property="og:image"
        content="http://dev.assets.neo4j.com.s3.amazonaws.com/wp-content/uploads/2014/10/icon-guide-theory.png"/>
  <link rel="alternate" type="application/rss+xml" title="Neo4j Graph Database &raquo; Feed"
        href="http://neo4j.com/feed/"/>
  <link rel="alternate" type="application/rss+xml" title="Neo4j Graph Database &raquo; Comments Feed"
        href="http://neo4j.com/comments/feed/"/>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <!--link rel='stylesheet' id='font-awesome-four-css'
        href="http://neo4j.com/wp-content/plugins/font-awesome-4-menus/css/font-awesome.min.css?ver=4.2.0"
        type='text/css' media='all'/-->
  <link rel='stylesheet' id='foundation-css'
        href="http://neo4j.com/wp-content/themes/neo4jweb/assets/css/app.css?ver=4.1" type='text/css' media='screen'/>
  <link rel='stylesheet' id='neo-codemirror-css'
        href="http://neo4j.com/wp-content/themes/neo4jweb/assets/css/codemirror-neo.css?ver=4.1" type='text/css'
        media='screen'/>
  <script type='text/javascript'>
    /* <![CDATA[ */
    var ajax_object = {"ajaxurl": "http:\/\/neo4j.com\/wp-admin\/admin-ajax.php"};
    /* ]]> */
  </script>
  <script type='text/javascript'
          src='http://neo4j.com/wp-content/plugins/neo4j-download/js/download.js?ver=4.1'></script>
  <script type='text/javascript'
          src='http://neo4j.com/wp-content/plugins/jquery-updater/js/jquery-2.1.1.min.js?ver=2.1.1'></script>
  <script type='text/javascript'
          src='http://neo4j.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
  <script type='text/javascript'
          src='http://neo4j.com/wp-content/themes/neo4jweb/assets/js/vendor/modernizr.min.js?ver=4.1'></script>
  <script type='text/javascript'
          src='http://neo4j.com/wp-content/themes/neo4jweb/assets/js/foundation.min.js?ver=4.1'></script>
  <script type='text/javascript'
          src='http://neo4j.com/wp-content/themes/neo4jweb/assets/js/vendor/codemirror.min.js?ver=4.1'></script>
  <script type='text/javascript'
          src='http://neo4j.com/wp-content/themes/neo4jweb/assets/js/neo_codemirror.js?ver=4.1'></script>
  <script type='text/javascript' src='//use.typekit.net/rdt4xku.js?ver=4.1'></script>
  <script type='text/javascript' src='http://neo4j.com/wp-content/themes/neo4jweb/assets/js/misc.js?ver=4.1'></script>
  <script type='text/javascript'
          src='http://neo4j.com/wp-content/themes/neo4jweb/assets/js/neo_calculator_v3.js?ver=4.1'></script>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://neo4j.com/xmlrpc.php?rsd"/>
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://neo4j.com/wp-includes/wlwmanifest.xml"/>
  <meta name="generator" content="WordPress 4.1"/>
  <link rel='shortlink' href="http://neo4j.com/?p=38241"/>
</head>
