<ul style="padding-top: 0;" class="side-nav">
    <dl class="accordion">
        <dd class="accordion-navigation get-started-activate">
            <a href="/developer/get-started/">
                <h5>Getting Started</h5>
            </a>
            <div class="content get-started-activate" id="panel1">
                <ul>
                    <li><a href="/developer/get-started/graph-database/">What is a Graph Database?</a></li>
                    <li><a href="/developer/get-started/graph-db-vs-rdbms/">Concepts: RDBMS to Graph</a></li>
                    <li><a href="/developer/get-started/graph-db-vs-nosql/">Concepts: NoSQL to Graph</a></li>
                    <li><a href="/developer/get-started/getting-started-resources/">Getting Started Resources</a></li>
                </ul>
            </div>
        </dd>
    </dl>
    <dl class="accordion">
        <dd class="accordion-navigation graph-platform-activate">
            <a href="/developer/graph-platform/">
                <h5>Neo4j Graph Platform</h5>
            </a>
            <div class="content graph-platform-activate" id="panel2">
                <ul>
                    <li><a href="/developer/neo4j-desktop/">Neo4j Desktop Intro</a></li>
                    <li><a href="/developer/neo4j-browser/">Neo4j Browser Intro</a></li>
                <!--<li><a href="/developer/graph-platform/neo4j-bloom/">Neo4j Bloom Intro</a></li>-->
                <!--<li><a href="/developer/graph-platform/neo4j-morpheus/">Neo4j Morpheus Intro</a></li>-->
                <!--<li><a href="/developer/graph-platform/neo4j-cloud/">Neo4j Cloud Intro</a></li>-->
                    <li><a href="/developer/graph-platform/neo4j-etl/">Neo4j ETL Tool</a></li>
                    <li><a href="/developer/graph-platform/neo4j-apoc/">Neo4j APOC Library</a></li>
                    <li><a href="/developer/graph-platform/graph-algorithms/">Neo4j Graph Algorithms</a></li>
                    <li><a href="/developer/graph-platform/graphql/">Neo4j & GraphQL</a></li>
                </ul>
            </div>
        </dd>
    </dl>
    <dl class="accordion">
        <dd class="accordion-navigation data-modeling-activate">
            <a href="/developer/data-modeling/">
                <h5>Graph Data Modeling</h5>
            </a>
            <div class="content data-modeling-activate" id="panel3">
                <ul>
                    <li><a href="/developer/data-modeling/guide-data-modeling/">Graph Modeling Guidelines</a></li>
                    <li><a href="/developer/data-modeling/relational-to-graph-modeling/">Modeling: RDBMS to Graph</a></li>
                <!--<li><a href="/developer/data-modeling/modeling-designs/">Modeling Designs & Tips</a></li>-->
                    <li><a href="/developer/graphgist/">Interactive Graph Models</a></li>
                </ul>
            </div>
        </dd>
    </dl>
    <dl class="accordion">
        <dd class="accordion-navigation cypher-activate">
            <a href="/developer/cypher/">
                <h5>Cypher Query Language</h5>
            </a>
            <div class="content cypher-activate" id="panel4">
                <ul>
                    <li><a href="/developer/cypher/cypher-query-language/">Cypher Intro</a></li>
                    <li><a href="/developer/cypher/guide-sql-to-cypher/">From SQL to Cypher</a></li>
                    <li><a href="/developer/cypher/guide-build-a-recommendation-engine/">Build a Recommendation Engine</a></li>
                    <li><a href="/developer/cypher/procedures-functions/">User Defined Procedures & Functions</a></li>
                    <li><a href="/graphacademy/online-course-getting-started/">Getting Started Course</a></li>
                    <li><a href="/docs/cypher-refcard/current/">Cypher Refcard</a></li>
                </ul>
            </div>
        </dd>
    </dl>
    <dl class="accordion">
        <dd class="accordion-navigation data-import-activate">
            <a href="/developer/data-import/">
                <h5>Data Import</h5>
            </a>
            <div class="content data-import-activate" id="panel5">
                <ul>
                    <li><a href="/developer/data-import/guide-importing-data-and-etl/">Importing Data into Neo4j</a></li>
                    <li><a href="/developer/data-import/guide-import-csv/">Importing CSV</a></li>
                    <li><a href="/developer/data-import/guide-import-api-data/">Importing API Data</a></li>
                    <li><a href="/developer/data-import/guide-import-relational/">Import: RDBMS to Graph</a></li>
                    <li><a href="/developer/data-import/example-data/">Example Datasets</a></li>
                </ul>
            </div>
        </dd>
    </dl>
    <dl class="accordion">
        <dd class="accordion-navigation graph-visualization-activate">
            <a href="/developer/graph-visualization/">
                <h5>Graph Visualization</h5>
            </a>
            <div class="content graph-visualization-activate" id="panel6">
                <ul>
                    <li><a href="/developer/graph-visualization/guide-graph-visualization/">Graph Visualization for Neo4j</a></li>
                </ul>
            </div>
        </dd>
    </dl>
    <dl class="accordion">
        <dd class="accordion-navigation language-guides-activate">
            <a href="/developer/language-guides/">
                <h5>Drivers &amp; Language Guides</h5>
            </a>
            <div class="content language-guides-activate" id="panel7">
                <ul>
                    <li><a href="/developer/language-guides/java/">Java</a></li>
                    <li><a href="/developer/language-guides/spring-data-neo4j/">Spring Framework</a></li>
                    <li><a href="/developer/language-guides/dotnet/">.NET</a></li>
                    <li><a href="/developer/language-guides/javascript/">JavaScript</a></li>
                    <li><a href="/developer/language-guides/python/">Python</a></li>
                    <li><a href="/developer/language-guides/ruby/">Ruby</a></li>
                    <li><a href="/developer/language-guides/php/">PHP</a></li>
                    <li><a href="/developer/language-guides/">All Neo4j Drivers</a></li>
                </ul>
            </div>
        </dd>
    </dl>
    <dl class="accordion">
        <dd class="accordion-navigation integration-activate">
            <a href="/developer/integration/">
                <h5>Neo4j Tools &amp; Integrations</h5>
            </a>
            <div class="content integration-activate" id="panel8">
                <ul>
                    <li><a href="/developer/integration/ecosystem/">Tools &amp; Libs for Neo4j</a></li>
                    <li><a href="/developer/integration/docker/">Docker</a></li>
                    <li><a href="/developer/integration/apache-spark/">Apache Spark</a></li>
                    <li><a href="/developer/integration/elastic-search/">Elastic-Search</a></li>
                    <li><a href="/developer/integration/mongodb/">MongoDB</a></li>
                    <li><a href="/developer/integration/cassandra/">Cassandra</a></li>
                </ul>
            </div>
        </dd>
    </dl>
    <dl class="accordion">
        <dd class="accordion-navigation in-production-activate">
            <a href="/developer/in-production/">
                <h5>Neo4j In Production</h5>
            </a>
            <div class="content in-production-activate" id="panel9">
                <ul>
                    <li><a href="/developer/guide-cloud-deployment/">Cloud Deployment</a></li>
                    <li><a href="/developer/in-production/guide-performance-tuning/">Performance Tuning</a></li>
                    <li><a href="/developer/in-production/guide-clustering-neo4j/">Clustering Neo4j</a></li>
	                <li><a href="/graphacademy/online-course-prod/">In Production Course</a></li>
                </ul>
            </div>
        </dd>
    </dl>
    <dl class="accordion">
        <dd class="accordion-navigation guide-cloud-deployment-activate">
            <a href="/developer/guide-cloud-deployment/">
                <h5>Neo4j in the Cloud</h5>
            </a>
            <div class="content guide-cloud-deployment-activate" id="panel10">
                <ul>
                    <li><a href="/developer/guide-cloud-deployment/neo4j-cloud-aws-ec2-ami/">Deploying to EC2</a></li>
                    <li><a href="/developer/neo4j-cloud-google-cloud-launcher/">Deploying to Google Cloud</a></li>
                    <li><a href="https://neo4j.com/blog/deploy-neo4j-microsoft-azure-part-2">Deploying to Azure</a></li>
                    <li><a href="/developer/guide-cloud-deployment/guide-orchestration">Orchestration Tools</a></li>
                    <li><a href="/developer/guide-cloud-deployment/neo4j-cloud-hosting-providers">Cloud Hosting Providers</a></li>
                </ul>
            </div>
        </dd>
    </dl>
    <dl class="accordion">
        <dd class="accordion-navigation resources-activate">
            <a href="/developer/resources/">
                <h5>Documentation &amp; Resources</h5>
            </a>
            <div class="content resources-activate" id="panel11">
                <ul>
	                <li><a href="/graphacademy/online-course-getting-started/">Getting Started Course</a></li>
	                <li><a href="/developer/resources/ruby-course/">Ruby / Rails Course</a></li>
	                <li><a href="/graphacademy/online-course-prod/">In Production Course</a></li>
                    <li><a href="/docs/">Neo4j Documentation</a></li>
                    <ul>
	                    <li><a href="/docs/developer-manual/current/">Developer Manual</a></li>
	                    <li><a href="/docs/java-reference/current/">Java Developer Reference</a></li>
	                    <li><a href="/docs/operations-manual/current/">Operations Manual</a></li>
                        <li><a href="/docs/cypher-refcard/current/">Cypher Refcard</a></li>
                    </ul>
                </ul>
            </div>
        </dd>
    </dl>
    <dl class="accordion">
        <dd class="accordion-navigation contribute-activate">
            <a href="/developer/contribute/">
                <h5>Contributing to Neo4j</h5>
            </a>
            <div class="content contribute-activate" id="panel12">
                <ul>
	            <!-- todo CLA, SO, GitHub, Building, Tools -->
                <!--li><a href="/developer/contribution/xxx">Contributing</a></li-->
                </ul>
            </div>
        </dd>
    </dl>
</ul>
<div class="accordion-navigation">
    <div class="c2a-icons">
        <div><a href="https://github.com/neo4j/neo4j" target="_blank"><i class="fa fa-github" aria-hidden="true"></i><br/>Star us on GitHub</a></div>
        <div><a href="http://twitter.com/neo4j" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i><br/>Follow us on Twitter</a></div>
        <div><a href="http://neo4j.com/developer/slack" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i><br/>Chat on Slack</a></div>
        <div><a href="http://stackoverflow.com/questions/tagged/neo4j"  target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i><br/>Ask on StackOverflow</a></div>
        <div><a href="http://youtube.com/c/neo4j" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i><br/>Watch on YouTube</a></div>
        <div><a href="https://meetup.com/Neo4j-Online-Meetup/"  target="_blank"><i class="fa fa-meetup" aria-hidden="true"></i><br/>Join our Live Meetup</a></div>
        <div><a href="https://groups.google.com/forum/#!forum/neo4j"><i class="fa fa-users" aria-hidden="true"></i><br/>Discuss in our Group</a></div>
    </div>
</div>

<script src="//cdn.getsmartcontent.com/GS9NJ03M.js"></script>
