<ul class="side-nav" style="padding-top: 0;">
    <ul>
        <dl class="accordion">
            <dd class="accordion-navigation active"><a href="../get-started"><h5>Get
                Started</h5></a>

                <div id="panel1" class="content active">
                    <ul>
                        <li><a href="../graph-database/">What is a GraphDB?</a></li>
                        <li><a href="../graph-db-vs-rdbms/">GraphDB vs RDBMS</a></li>
                        <li><a href="../graph-db-vs-nosql/">GraphDB vs NOSQL</a></li>
                        <li><a href="../language-guides/">Language Drivers</a></li>
                    </ul>
                </div>
            </dd>
        </dl>
        <ul>
            <dl class="accordion">
                <dd class="accordion-navigation inactive"><a href="../cypher"><h5>Cypher</h5>
                </a>

                    <div id="panel2" class="content inactive">
                        <ul>
                            <li><a href="../guide-cypher-basics/">Cypher Basics</a></li>
                            <li><a href="../guide-build-a-recommendation-engine/">Build a
                                Recommendation Engine</a></li>
                            <li><a href="/docs/stable/cypher-refcard/">Cypher Refcard</a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl class="accordion">
                <dd class="accordion-navigation inactive"><a href="../data-modeling/"><h5>Data
                    Modeling</h5></a>

                    <div id="panel5" class="content inactive">
                        <ul>
                            <li><a href="../guide-data-modeling/">Graph Data Modeling
                                Guidelines</a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl class="accordion">
                <dd class="accordion-navigation inactive"><a href="../working-with-data/"><h5>
                    Working with Data</h5></a>

                    <div id="panel3" class="content inactive">
                        <ul>
                            <li><a href="../guide-neo4j-browser/">Neo4j Browser Visualization</a>
                            </li>
                            <li><a href="../guide-importing-data-and-etl/">Importing Data into
                                Neo4j</a></li>
                            <li><a href="../guide-data-visualization/">Graph Visualization for
                                Neo4j</a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl class="accordion">
                <dd class="accordion-navigation inactive"><a href="../language-guides/"><h5>
                    Language Guides</h5></a>

                    <div id="panel4" class="content inactive">
                        <ul>
                            <li><a href="../java/">Java</a></li>
                            <li><a href="../dotnet/">.NET</a></li>
                            <li><a href="../javascript/">JavaScript</a></li>
                            <li><a href="../python/">Python</a></li>
                            <li><a href="../ruby/">Ruby</a></li>
                            <li><a href="../php/">PHP</a></li>
                            <li><a href="../language-guides/">All Neo4j Drivers</a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl class="accordion">
                <dd class="accordion-navigation inactive"><a href="../ecosystem/"><h5>
                    Ecosystem</h5></a>

                    <div id="panel6" class="content inactive">
                        <ul>
                            <li><a href="/docs/stable/">Documentation</a></li>
                            <li><a href="http://stackoverflow.com/questions/tagged/neo4j">Ask
                                Questions / Stackoverflow </a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl class="accordion">
                <dd class="accordion-navigation inactive"><a href="../in-production/"><h5>Neo4j
                    In Production</h5></a>

                    <div id="panel7" class="content inactive">
                        <ul>
                            <li><a href="../guide-sizing-and-hardware-calculator/">Sizing +
                                Hardware Calculator</a></li>
                            <li><a href="../guide-performance-tuning/">Performance Tuning</a>
                            </li>
                            <li><a href="../guide-clustering/">Clustering Neo4j </a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </ul>
        <div class="accordion-navigation"><h5>Reference &amp; Manuals</h5>
            <ul>
                <ul>
                    <li><a href="/docs/stable/" target="_blank">Neo4j 2.1.x</a></li>
                    <li><a href="/docs/2.0.4/" target="_blank">Neo4j 2.0.x</a></li>
                </ul>
            </ul>
            <ul>
                <ul>
                    <li><a href="/docs/1.9.9/" target="_blank">Neo4j 1.9.x</a></li>
                </ul>
            </ul>
        </div>
    </ul>
</ul>
