   <ul style="padding-top: 0;" class="side-nav">
         <dl class="accordion">
            <dd class="accordion-navigation get-started-activate">
               <a href="/developer/get-started/">
                  <h5>Get Started</h5>
               </a>
               <div class="content get-started-activate" id="panel1">
                  <ul>
                     <li><a href="/developer/get-started/graph-database/">What is a GraphDB?</a></li>
                     <li><a href="/developer/get-started/graph-db-vs-rdbms/">GraphDB vs RDBMS</a></li>
                     <li><a href="/developer/get-started/graph-db-vs-nosql/">GraphDB vs NOSQL</a></li>
                     <li><a href="/developer/get-started/guide-neo4j-browser/">Neo4j Browser Intro</a></li>
                     <li><a href="/graphacademy/online-course-getting-started/">Getting Started Course</a></li>
                     <!--<li><a href="/developer/language-guides/">Language Drivers</a></li>-->
                  </ul>
               </div>
            </dd>
         </dl>
            <dl class="accordion">
               <dd class="accordion-navigation cypher-activate">
                  <a href="/developer/cypher/">
                     <h5>Cypher Query Language</h5>
                  </a>
                  <div class="content cypher-activate" id="panel2">
                     <ul>
                        <li><a href="/developer/cypher/cypher-query-language/">Cypher Intro</a></li>
                        <li><a href="/developer/cypher/guide-sql-to-cypher/">From SQL to Cypher</a></li>
                        <li><a href="/developer/cypher/guide-build-a-recommendation-engine/">Build a Recommendation Engine</a></li>
                        <li><a href="/graphacademy/online-course-getting-started/">Getting Started Course</a></li>
                        <li><a href="/docs/stable/cypher-refcard/">Cypher Refcard</a></li>
                     </ul>
                  </div>
               </dd>
            </dl>
            <dl class="accordion">
               <dd class="accordion-navigation data-modeling-activate">
                  <a href="/developer/data-modeling/">
                     <h5>Data Modeling</h5>
                  </a>
                  <div class="content data-modeling-activate" id="panel3">
                     <ul>
                        <li><a href="/developer/data-modeling/guide-data-modeling/">Graph Data Modeling Guidelines</a></li>
                        <li><a href="/developer/data-modeling/graphgist/">Interactive Graph Models - GraphGist</a></li>
                     </ul>
                  </div>
               </dd>
            </dl>
            <dl class="accordion">
               <dd class="accordion-navigation working-with-data-activate">
                  <a href="/developer/working-with-data/">
                     <h5>Working with Data</h5>
                  </a>
                  <div class="content working-with-data-activate" id="panel4">
                     <ul>
                        <li><a href="/developer/working-with-data/guide-data-visualization/">Graph Visualization for Neo4j</a></li>
                        <li><a href="/developer/working-with-data/guide-importing-data-and-etl/">Importing Data into Neo4j</a></li>
                        <li><a href="/developer/working-with-data/guide-import-csv/">Importing CSV</a></li>
                        <li><a href="/developer/working-with-data/example-data/">Example Datasets</a></li>
                     </ul>
                  </div>
               </dd>
            </dl>
            <dl class="accordion">
               <dd class="accordion-navigation language-guides-activate">
                  <a href="/developer/language-guides/">
                     <h5>Drivers &amp; Language Guides</h5>
                  </a>
                  <div class="content language-guides-activate" id="panel5">
                     <ul>
                        <li><a href="/developer/language-guides/java/">Java</a></li>
                        <li><a href="/developer/language-guides/spring-data-neo4j/">Spring Framework</a></li>
                        <li><a href="/developer/language-guides/dotnet/">.NET</a></li>
                        <li><a href="/developer/language-guides/javascript/">JavaScript</a></li>
                        <li><a href="/developer/language-guides/python/">Python</a></li>
                        <li><a href="/developer/language-guides/ruby/">Ruby</a></li>
                        <li><a href="/developer/language-guides/php/">PHP</a></li>
                        <li><a href="/developer/language-guides/">All Neo4j Drivers</a></li>
                     </ul>
                  </div>
               </dd>
            </dl>
            <dl class="accordion">
               <dd class="accordion-navigation integration-activate">
                  <a href="/developer/integration/">
                     <h5>Neo4j Tools &amp; Integrations</h5>
                  </a>
                  <div class="content integration-activate" id="panel6">
                     <ul>
                        <li><a href="/developer/integration/ecosystem/">Tools &amp; Libs for Neo4j</a></li>
                        <li><a href="/developer/integration/docker/">Docker</a></li>
                        <li><a href="/developer/integration/apache-spark/">Apache Spark</a></li>
                        <li><a href="/developer/integration/elastic-search/">Elastic-Search</a></li>
                        <li><a href="/developer/integration/mongodb/">MongoDB</a></li>
                        <li><a href="/developer/integration/cassandra/">Cassandra</a></li>
                        <!--li><a href="/developer/integration/apache-hadoop/">Hadoop</a></li-->
                        <!--li><a href="/developer/integration/meteor/">Integration with Meteor.js</a></li-->
                     </ul>
                  </div>
               </dd>
            </dl>
            <dl class="accordion">
               <dd class="accordion-navigation in-production-activate">
                  <a href="/developer/in-production/">
                     <h5>Neo4j In Production</h5>
                  </a>
                  <div class="content in-production-activate" id="panel7">
                     <ul>
                        <li><a href="/developer/in-production/guide-cloud-deployment/">Guide: Cloud Deployment</a></li>
                        <li><a href="/developer/in-production/guide-sizing-and-hardware-calculator/">Sizing + Hardware Calculator</a></li>
                        <li><a href="/developer/in-production/guide-performance-tuning/">Performance Tuning</a></li>
                        <li><a href="/developer/in-production/guide-clustering-neo4j/">Clustering Neo4j </a></li>
	                    <li><a href="/graphacademy/online-course-prod/">In Production Course</a></li>
                     </ul>
                  </div>
               </dd>
            </dl>
         <dl class="accordion">
            <dd class="accordion-navigation resources-activate">
               <a href="/developer/resources/">
                  <h5>Documentation &amp; Resources</h5>
               </a>
               <div class="content resources-activate" id="panel4">
                  <ul>
	                 <li><a href="/graphacademy/online-course-getting-started/">Getting Started Course</a></li>
	                 <li><a href="/developer/resources/ruby-course/">Ruby / Rails Course</a></li>
	                 <li><a href="/graphacademy/online-course-prod/">In Production Course</a></li>

                     <li><a href="/docs/">All Neo4j Documentation</a></li>
                     <ul>
	                 <li><a href="/docs/developer-manual/current/">Developer Manual</a></li>
	                 <li><a href="/docs/java-reference/current/">Java Developer Reference</a></li>
	                 <li><a href="/docs/operations-manual/current/">Operations Manual</a></li>
                     <li><a href="/docs/stable/cypher-refcard/">Cypher Refcard</a></li>
                     </ul>
                  </ul>
               </div>
            </dd>
         </dl>
         <dl class="accordion">
            <dd class="accordion-navigation contribute-activate">
               <a href="/developer/contribute/">
                  <h5>Contributing to Neo4j</h5>
               </a>
               <div class="content contribute-activate" id="panel8">
                  <ul>
	                    <!-- todo CLA, SO, GitHub, Building, Tools -->
                     <!--li><a href="/developer/contribution/xxx">Contributing</a></li-->
                  </ul>
               </div>
            </dd>
         </dl>
         </ul>
         <div class="accordion-navigation">
<div style="text-align:center">
<div><a href="https://github.com/neo4j/neo4j" target="_blank"><img style="width:33%" src="http://neo4j.com/wp-content/themes/neo4jweb/assets/images/github.png"/><br/>Star us on GitHub</a></div>
<div><a href="http://twitter.com/neo4j" target="_blank"> <img style="width:33%" src="http://dev.assets.neo4j.com.s3.amazonaws.com/wp-content/uploads/twitter.png"/><br/>Follow us on Twitter</a></div>
<div><a href="http://neo4j.com/slack" target="_blank"><img style="width:33%" src="http://dev.assets.neo4j.com.s3.amazonaws.com/wp-content/uploads/slack_icon.png"/><br/>Chat on Slack</a></div>
<div><a href="http://stackoverflow.com/questions/tagged/neo4j"  target="_blank"><img style="width:33%" src="http://neo4j.com/wp-content/themes/neo4jweb/assets/images/stackoverflow.png"/><br/>Ask on StackOverflow</a></div>
<div><a href="https://groups.google.com/forum/#!forum/neo4j"><img style="width:33%" src="http://neo4j.com/wp-content/themes/neo4jweb/assets/images/googlegroups.png"/><br/>Discuss in our Google Group </a></div>
         </div>
         </div>
