<div class="top-bar-container contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="http://neo4j.com/"><img
                        src="http://neo4j.com/wp-content/themes/neo4jweb/assets/images/neo4j-blue-logo.png"/></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"></a></li>
        </ul>
        <section class="top-bar-section">
            <ul id="menu-top-nav" class="top-bar-menu right">
                <li id="menu-item-36917"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item active menu-item-36917">
                    <a href="/developer/get-started">Developer</a></li>
                <li id="menu-item-38286"
                    class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-38286">
                    <a href="http://neo4j.com/blog/">Blog</a></li>
                <li id="menu-item-38817"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-38817"><a
                        href="//support.neo4j.com/hc">Support</a></li>
                <li id="menu-item-36919"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36919"><a
                        href="http://neo4j.com/contact-us/">Contact Us</a></li>
                <li id="menu-item-36921"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36921"><a
                        href="http://neo4j.com/download/">Download Neo4j</a></li>
            </ul>
            <ul class="right">
                <li class="has-form hide-for-small">
                    <form role="search" method="get" id="searchform" class="searchform" action="http://neo4j.com/">
                        <input type="text" name="s" id="s"/><input type="image" id="searchsubmit"
                                                                   src="http://neo4j.com/wp-content/themes/neo4jweb/assets/images/searchicon.png"/>
                    </form>
                </li>
                <li class="header-widget has-dropdown">
                    <a href="#"><span class="show-for-small-down">Menu</span> </a>
                    <ul class="sub-menu dropdown">
                        <div class="row header-widgets-container">
                            <div class="medium-3 columns">
                                <div class="menu-product-and-services-container">
                                    <ul id="menu-product-and-services" class="menu">
                                        <li id="menu-item-36967"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36967">
                                            <a href="/product">PRODUCT AND SERVICES</a></li>
                                        <li id="menu-item-36966"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36966">
                                            <a href="http://neo4j.com/product">Neo4j Graph Database</a></li>
                                        <li id="menu-item-38756"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38756">
                                            <a href="http://neo4j.com/subscriptions/">Subscriptions</a></li>
                                        <li id="menu-item-36971"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36971">
                                            <a href="http://neo4j.com/neo4j-editions/">Compare Neo4j Editions</a></li>
                                        <li id="menu-item-36974"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36974">
                                            <a href="http://neo4j.com/professional-services/">Professional Services</a>
                                        </li>
                                        <li id="menu-item-38293"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38293">
                                            <a href="http://neo4j.com/open-source-project/">Open Source Project</a></li>
                                    </ul>
                                </div>
                                <div class="menu-partners-container">
                                    <ul id="menu-partners" class="menu">
                                        <li id="menu-item-36965"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36965">
                                            <a href="http://neo4j.com/partners/">PARTNER PROGRAM</a></li>
                                        <li id="menu-item-36963"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36963">
                                            <a href="http://neo4j.com/neo4j-partner-program/">Become a Partner</a></li>
                                        <li id="menu-item-38558"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-38558">
                                            <a href="/partners/#find">Find a Partner</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="medium-3 columns">
                                <div class="menu-customers-container">
                                    <ul id="menu-customers" class="menu">
                                        <li id="menu-item-36955"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36955">
                                            <a href="http://neo4j.com/customers/">CUSTOMERS</a></li>
                                    </ul>
                                </div>
                                <div class="menu-use-cases-container">
                                    <ul id="menu-use-cases" class="menu">
                                        <li id="menu-item-38559"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38559">
                                            <a href="http://neo4j.com/use-cases/">USE CASES</a></li>
                                        <li id="menu-item-38548"
                                            class="menu-item menu-item-type-post_type menu-item-object-use_case menu-item-38548">
                                            <a href="http://neo4j.com/use-cases/network-and-data-center-management/">Network
                                                &#038; IT Operations Mgmt</a></li>
                                        <li id="menu-item-38551"
                                            class="menu-item menu-item-type-post_type menu-item-object-use_case menu-item-38551">
                                            <a href="http://neo4j.com/use-cases/master-data-management/">Master Data
                                                Management</a></li>
                                        <li id="menu-item-38552"
                                            class="menu-item menu-item-type-post_type menu-item-object-use_case menu-item-38552">
                                            <a href="http://neo4j.com/use-cases/recommendations/">Recommendations</a>
                                        </li>
                                        <li id="menu-item-38550"
                                            class="menu-item menu-item-type-post_type menu-item-object-use_case menu-item-38550">
                                            <a href="http://neo4j.com/use-cases/social/">Social Network</a></li>
                                        <li id="menu-item-38547"
                                            class="menu-item menu-item-type-post_type menu-item-object-use_case menu-item-38547">
                                            <a href="http://neo4j.com/use-cases/identity-and-access-management/">Identity
                                                and Access Mgmt</a></li>
                                        <li id="menu-item-38549"
                                            class="menu-item menu-item-type-post_type menu-item-object-use_case menu-item-38549">
                                            <a href="http://neo4j.com/use-cases/digital-asset-management/">Digital Asset
                                                Management</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="medium-3 columns">
                                <div class="menu-graphacademy-container">
                                    <ul id="menu-graphacademy" class="menu">
                                        <li id="menu-item-36957"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36957">
                                            <a href="http://neo4j.com/graphacademy/">GRAPHACADEMY</a></li>
                                        <li id="menu-item-36959"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36959">
                                            <a href="http://neo4j.com/graphacademy/online-course/">Online Training</a>
                                        </li>
                                        <li id="menu-item-39349"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39349">
                                            <a href="/books/">Books</a></li>
                                        <li id="menu-item-38761"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38761">
                                            <a href="http://neo4j.com/resources/">Resources</a></li>
                                    </ul>
                                </div>
                                <div class="menu-developer-container">
                                    <ul id="menu-developer" class="menu">
                                        <li id="menu-item-38292"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-38292">
                                            <a href="/developer/get-started">DEVELOPER</a></li>
                                        <li id="menu-item-39699"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39699">
                                            <a href="/docs">Docs</a></li>
                                    </ul>
                                </div>
                                <div class="menu-community-4-container">
                                    <ul id="menu-community-4" class="menu">
                                        <li id="menu-item-38291"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38291">
                                            <a href="http://neo4j.com/community/">COMMUNITY</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="medium-3 columns">
                                <div class="menu-neo4j-blog-container">
                                    <ul id="menu-neo4j-blog" class="menu">
                                        <li id="menu-item-38289"
                                            class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-38289">
                                            <a href="http://neo4j.com/blog/">Neo4j Blog</a></li>
                                    </ul>
                                </div>
                                <div class="menu-events-container">
                                    <ul id="menu-events" class="menu">
                                        <li id="menu-item-36956"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36956">
                                            <a href="http://neo4j.com/events/">EVENTS</a></li>
                                    </ul>
                                </div>
                                <div class="menu-about-us-container">
                                    <ul id="menu-about-us" class="menu">
                                        <li id="menu-item-38561"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38561">
                                            <a href="http://neo4j.com/company/">COMPANY</a></li>
                                        <li id="menu-item-36950"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36950">
                                            <a href="http://neo4j.com/news">News</a></li>
                                        <li id="menu-item-36951"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36951">
                                            <a href="http://neo4j.com/jobs">Jobs</a></li>
                                        <li id="menu-item-38563"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38563">
                                            <a href="http://neo4j.com/staff/">Staff</a></li>
                                        <li id="menu-item-38288"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38288">
                                            <a href="http://neo4j.com/contact-us/">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>
