<header role="banner" data-swiftype-index="false" class="global-header developer-header">
    <!-- Skip links for accessibility with screen readers and keyboard users -->
    <div class="container">
        <div class="row">
            <div class="column" style="position: relative;">
                  <a class="skip-link" id="nav-position" href="#content">Skip to content</a>
            </div>
        </div>
    </div>

    <div class="top-bar-container row column">

        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large" style="display: none;">
            <div class="title-bar-title"><a href="https://neo4j.com"><img class="menu-logo__img" src="https://neo4j.com/wp-content/themes/neo4jweb/assets/images/neo4j-logo-textreverse.png" alt="The Neo4j Graph Platform – The #1 Platform for Connected Data"></a></div>

            <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        </div>

        <nav class="top-bar primary-nav" role="navigation" id="responsive-menu">
            <h2 class="show-for-sr">Main Navigation</h2>
            <div class="top-bar-left">
                <ul class="menu show-for-large">
                    <li class="menu-logo">
                        <a href="https://neo4j.com"><img class="menu-logo__img" src="https://neo4j.com/wp-content/themes/neo4jweb/assets/images/neo4j-logo-textreverse.png" alt="The Neo4j Graph Platform – The #1 Platform for Connected Data"></a>
                    </li>
                </ul>
            </div>

            <div class="top-bar-right">
                <ul class="menu vertical large-horizontal megamenu-wrapper dropdown" data-responsive-menu="drilldown large-dropdown" data-auto-height="true" data-parent-link="false" role="menubar" data-dropdown-menu="tnqhju-dropdown-menu" data-mutate="w3togj-responsive-menu">
                    <!-- new top level menu -->
                    <li class="has-submenu" role="none">
                        <a href="https://community.neo4j.com/" role="menuitem">Neo4j Community Site</a>
                    </li>
                    <li class="has-submenu" role="none">
                        <a href="/docs/" role="menuitem">Neo4j Manuals</a>
                    </li>
                    <li class="has-submenu" role="none">
                        <a href="https://medium.com/neo4j" role="menuitem">Developer Blog</a>
                    </li>
                    <li class="has-submenu" role="none">
                        <a href="https://www.youtube.com/neo4j/" role="menuitem">Neo4j Videos</a>
                    </li>
                    <li class="has-submenu" role="none">
                        <a href="/graphacademy/" role="menuitem">GraphAcademy</a>
                    </li>
                    <li class="has-submenu" role="none">
                        <a href="/labs/" role="menuitem">Neo4j Labs</a>
                    </li>
                    <!-- <li class="has-submenu">
                        <a href="/tag/twin4j/">Developer Newsletter</a>
                    </li> -->
                    <!-- only shows on mobile using css
                    <div class="nav-secondary-mobile hide-for-large">
                        <hr />
                        <ul id="menu-top-nav" class="menu vertical large-horizontal"><li id="menu-item-87158" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-87158"><a href="http://neo4j.com/newsroom/">News</a></li>
<li id="menu-item-38286" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-38286"><a href="https://neo4j.com/blog/">Blog</a></li>
<li id="menu-item-38817" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-38817"><a href="https://support.neo4j.com/hc/">Support</a></li>
<li id="menu-item-60080" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60080"><a href="https://neo4j.com/company/">Company</a></li>
<li id="menu-item-53859" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53859"><a href="https://neo4j.com/contact-us/">Contact Us</a></li>
<li id="menu-item-71602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71602"><a href="https://neo4j.com/download/">Download Neo4j</a></li>
</ul>                    </div>
                    -->

                    <li class="has-form" role="none">
                        <form role="search" method="get" id="searchform" class="searchform" action="/">
                            <label class="show-for-sr">Search Terms</label>
                            <input class="js-search-nav" type="text" name="s" id="s" placeholder="Search" autocomplete="off">
                            <input type="image" id="searchsubmit" style="width:20px;" src="/wp-content/themes/neo4jweb/assets/images/search-icon.svg" alt="Submit Search">
                        </form>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="marquee-neo"></div>